@(selectedProduct: models.Product, user : models.users.User,env : play.api.Environment)


@main("Product Info",user) {

				<div class="col-sm-3">
				</div>
				<div class="col-sm-6" id="productInfoWrapper">

							<div id="productInfoHeader" id="TextAlignCenter">							
								<h3>@selectedProduct.getName()</h3>
							</div>							
							<div id="productInfoBody">							
								<div class="row">
									<div class="col-sm-4">
										@if(env.resource("public/images/productImages/"+selectedProduct.getId()+".jpg").isDefined) {
											<img src="/assets/images/productImages/@(selectedProduct.getId() +".jpg")" class="img-responsive img-rounded" alt="Image of Product/Manga/Anime.">
										} else {
											<img src="/assets/images/productImages/thumbnails/noImage.png" class="img-responsive"/>
										}
							 		</div>
								
									<div class="col-sm-6">
								
								
										<h4 class="page-header TextAlignCenter">About Product</h4>
										<p class="BreakWord">@selectedProduct.getDescription()</p>
										<pre id="FloatLeft"><span id="textLightRed">CATEGORY : </span>@selectedProduct.printCatList()</pre>
										<pre id="FloatLeft"><span id="textLightRed">PRICE :</span> @selectedProduct.getPrice()</pre>
										
		

										@if(selectedProduct.getStock() != 0) {
											<a href="@routes.ShoppingController.addToBasket(selectedProduct.getId())" alt="Add to cart button." class="btn" id="Buttons">Add To Cart</a>
											<br>
											<br>
										} else {
											<br>
											<br>
											<br>
											<br>
										
									
										
											<h4 class="alert alert-warning TextAlignCenter">Out Of Stock</h4>
									
	
										}
									</div>
								<!---EndOfRow--->
								</div>
							</div>
							
	
						
					

				</div>
				<div class="col-sm-3">
				</div>
				


}
